body{
     background-image: url('https://i.pinimg.com/originals/30/45/9c/30459c328f5f535509d3131f773ab10f.jpg');
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: White;
  border-width: 5px;
  width: 30%;
}
h1{
  color: White;
}
